.navbar-collapse{
    justify-content: space-around;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
.menu_btn{
    display: none;
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 96px;
    border-bottom: solid;
    border-color:#919191;
    border-width: 1px;
}
.header nav{
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
    display:flex;
    flex-wrap: wrap;
    max-width: 480px;
    width: 60%;
    height: 32px;
    top: 0;
    background-color: transparent;
}
.nav-list a{
    border-bottom: none;
    display: block;
    width: auto;
    border-style: none;
    text-decoration: none;
    margin: auto;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    margin: auto;
    width: auto;
    height: 32px;
    padding: 4px 8px 4px 8px;
}

.nav-list:hover::before,.nav-list:hover::after{
    position: absolute;
    -webkit-box-reflect: below 16px;
}
.nav-list:hover::before{
    top: 0;
    left: 0;
    content:"";
    color:red;
    display: block;
    width: 10px;
    height: 10px;
    border-top:1px solid #000;
    border-left: 1px solid #000;
}
.nav-list:hover::after{
    top: 0;
    right:0;
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    border-top:1px solid #000;
    border-right: 1px solid #000;
}


#menu_control{
    position: absolute;
    opacity: 0;
}
.slogan{
    width: 100%;
    background-color: rgb(243, 242, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.text{
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto;
    
}
.text p{
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: clamp(18px, 2vw, 24px); /* 字體大小根據視口寬度自動調整，並設置最小和最大值 */
    line-height: 28.8px;
    
}
.text .img-left{
    text-align: left;
}
.text .img-right{
    text-align: right;
}

.underline{
    position: relative;
    padding: 0 8px;
}
.underline::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/Vector.png");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 1;
  left: 0;
  top: 5px;
}

.experience-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.experience{
    margin-left: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-title{
    border-bottom-style: solid;
    border-color: rgb(123, 123, 122);
    width: fit-content;
}
.experience p{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.card{
    width: 45%;
    margin: 20px 20px;
    border-style: none;
}
.card-text{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.card-body h2{
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
}
.card img{
    border-radius: 25px;
}
.tags-container{
    display: flex;
}
.tags{
    border-radius: 10px;
    background-color: #F1F1F1;
    padding: 10px 10px;
    margin-right: 10px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: clamp(12px, 2vw, 16px); /* 字體大小根據視口寬度自動調整，並設置最小和最大值 */
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: 32px;
}
.service-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.page{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.page-link{
    border-radius: 5px;
    padding: 2px 2px;
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('../images/footer-bg-lg.png');
    background-size: 100% 100%;
}
.left{
    
    width: 45%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.left p{
    font-size: 20px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.email-link{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #919191;
}
.right{
    
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.marks1 p, .marks2 p, .marks3 p{
    width: 60%;
    margin: 0; /* 移除默認的段落外邊距 */
    font-size: clamp(8px, 2vw, 24px); /* 字體大小根據視口寬度自動調整，並設置最小和最大值 */
    padding-right: 10px;
}
.marks1 img, .marks2 img, .marks3 img{
    width: 56px;
    height: 56px;
    margin: 0; /* 移除默認的段落外邊距 */
    font-size: clamp(8px, 2vw, 24px); /* 字體大小根據視口寬度自動調整，並設置最小和最大值 */
}
.marks1{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 55%;
    height: 72px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: 1px solid #c1c1c1;
    margin: 20px 20px;
    font-family: Noto Sans;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
.marks2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 55%;
    height: 72px;
    border-radius: 10px;
    color: black;
    background-color: white;
    border: 1px solid #c1c1c1;
    margin: 20px 20px;
    font-family: Noto Sans;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
.marks3{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 55%;
    height: 72px;
    border-radius: 10px;
    color: black;
    background-color: white;
    border: 1px solid #c1c1c1;
    margin: 20px 20px;
    font-family: Noto Sans;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
@media (max-width: 576px) {
    .header{
        height: 50px;
        background-color: #ccc;
    }
    .logo{
        width: 60px;
        height: 40px;
    }
    .logo img{
        vertical-align: middle;
    }
    #menu_control{
        position:absolute;
        z-index: -1;
    }
    .menu_btn{
        width: 40px;
        height: 40px;
        background-color: #000;
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .menu_btn span{
        opacity: 0;
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    .menu_btn::before{
        content: '';
        position: absolute;
        height: 2px;
        left: 2px;
        width: 36px;
        background-color: #aaa;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px #aaa,
                    0px -8px 0px #aaa;
    }
    .header nav{
        width: 100%;
        height: calc(100vh-50px);
        position: absolute;
        top: 50px;
        left: -100%;
        transition: .5s;
        
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-list{
        max-width: 150px;
        height: 50px;
        margin: auto;
    }
    
    .nav-list:hover::before, .nav-list:hover::after {
        position: absolute;
        -webkit-box-reflect: below 16px;
    }
    .nav-list:hover::before {
        top: 10px;
    }
    .nav-list:hover::after {
        top: 10px;
    }
    .nav-list a{
        text-decoration: none;
        color: black;
        padding: 10px 10px;
        width: 100%;
        text-align: center;
    }
    #menu_control:checked ~ .header nav{
        left:50%;
        display: inline-block;

    }
    #menu_control:checked ~ .slogan{
        margin-top: 250px;
    }

    .slogan{
        padding: 40px 24px 80px 24px;
    }
    .experience-container{
        flex-wrap: wrap;
    }
    .experience{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .card{
        width: 100%;
    }
    .tags-container{
        display: flex;
        flex-wrap: wrap;
    }

    /* footer */
    .footer-container{
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 12px 40px 12px;
    }
    .left{
        
        align-items: center;
        width: 100%;
    }
    .right{
        align-items: center;
        width: 100%;
    }
    .marks1, .marks2, .marks3{
        width: 95%;
        max-width: 306px;
        height: 64px;
        padding: 24px 24px 24px 24px;
        border-radius: 8px;
        opacity: 0px;

    }
    .marks1 img, .marks2 img, .marks3 img{
        max-width: 56px;
        height: 56px;

    }
    .marks1 p, .marks2 p, .marks3 p{
        font-size: clamp(16px, 2vw, 20px); /* 字體大小根據視口寬度自動調整，並設置最小和最大值 */
        font-weight: 400;
        line-height: 30px;
        text-align: center;

    }
}

