.navbar-collapse{
    justify-content: space-around;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
.menu_btn{
    display: none;
}
.header{
    display: flex;
    justify-content: start;
    align-items: center;
}
nav{
    position: relative;
    Left: 400px;
    display:flex;
    width: auto;
    height: auto;
    top: 0;
    background-color: transparent;
}
nav a{
    border-bottom: none;
    display: block;
    width: 100px;
    border-style: none;
    text-decoration: none;
    margin: 20px 20px;
}
#menu_control{
    position: absolute;
    opacity: 0;
}
.slogan{
    width: 100%;
    background-color: rgb(243, 242, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.text{
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto;
    
}
.text p{
    text-align: center;
}
.text .img-left{
    text-align: left;
}
.text .img-right{
    text-align: right;
}
.experience-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.experience{
    margin-left: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-title{
    border-bottom-style: solid;
    border-color: rgb(123, 123, 122);
    width: fit-content;
}
.card{
    width: 45%;
    margin: 20px 20px;
    border-style: none;
}
.card img{
    border-radius: 25px;
}
.tags{
    border-radius: 5px;
    border-style:1px solid rgb(238, 4, 4);
    background-color: #F1F1F1;
    padding: 2px 5px;
    margin: 10px;
}
.service-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.page{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.page-link{
    border-radius: 5px;
    border-style: 1px solid gray;
    background-color: beige;
    padding: 2px 2px;
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('../images/footer-bg-lg.png');
    background-size: 100% 100%;
}
.left{
    
    width: 45%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.left p{
    font-size: 20px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.email-link{
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #919191;
}
.right{
    
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.marks1{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: 1px solid #c1c1c1;
    margin: 20px 20px;
    font-family: Noto Sans;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
.marks2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    color: black;
    background-color: white;
    border: 1px solid #c1c1c1;
    margin: 20px 20px;
    font-family: Noto Sans;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
.marks3{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    color: black;
    background-color: white;
    border: 1px solid #c1c1c1;
    margin: 20px 20px;
    font-family: Noto Sans;
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}
.marks1 p, .marks2 p, .marks3 p{
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 576px) {
    .header{
        height: 50px;
        background-color: #ccc;
    }
    .logo{
        width: 60px;
        height: 40px;
    }
    .logo img{
        vertical-align: middle;
    }
    #menu_control{
        position:absolute;
        z-index: -1;
    }
    .menu_btn{
        width: 40px;
        height: 40px;
        background-color: #000;
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .menu_btn span{
        opacity: 0;
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
    .menu_btn::before{
        content: '';
        position: absolute;
        height: 2px;
        left: 2px;
        width: 36px;
        background-color: #aaa;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 8px 0px #aaa,
                    0px -8px 0px #aaa;
    }
    nav{
        width: 100%;
        height: calc(100vh-50px);
        position: absolute;
        top: 50px;
        left: -100%;
        transition: .5s;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav a{
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }
    #menu_control:checked ~ .header nav{
        left:0;
    }
    #menu_control:checked ~ .slogan{
        margin-top: 420px;
    }

    .card{
        width: 100%;
    }

    /* footer */
    .footer-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .left{
        
        align-items: center;
        width: 100%;
    }
    .right{
        align-items: center;
        width: 100%;
    }
    .marks1, .marks2, .marks3{
        width: 95%;
        border-radius: 10px;
    }
}
